<h1
  class="mt-2 mb-6 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
>
  Y | Hacker News
</h1>

<ng-container
  *ngIf="
    topStoryIds.length > 0;
    then topStoriesAreAvailable;
    else topStoriesAreNotAvailable
  "
></ng-container>

<ng-template #topStoriesAreAvailable>
  <ul role="list" class="divide-y divide-gray-100">
    <li *ngFor="let topStoryId of topStoryIds">
      <app-story
        [storyId]="topStoryId"
        class="relative flex justify-between gap-x-6 py-5"
      ></app-story>
    </li>
  </ul>
</ng-template>

<ng-template #topStoriesAreNotAvailable>
  <p>No Available stories</p>
</ng-template>
